<section class="about-us">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="about-us-text">
            <h2 class="section-title">O NAMA</h2>
            <p class="section-description">
              Dobrodošli u <b> ForeverTraveller </b> turističku agenciju. Mi smo posvećeni tome da vam pružimo nezaboravna putovanja širom sveta. Sa više od 10 godina iskustva, nudimo širok spektar destinacija i usluga kako bismo zadovoljili različite ukuse i potrebe naših klijenata.
            </p>
            <p class="section-description">
              Naš tim stručnjaka je tu da vam pomogne u planiranju vašeg sledećeg putovanja, bilo da je to opuštajući odmor na plaži, avantura u egzotičnim destinacijama ili romantični city break.
              Članica smo <b>IATA-e </b> od samog osnivanja.

              Konstantno napredujući, uspeli smo, na osnovu rezultata poslovanja - da se svrstamo u red vodećih turističkih agencija na našem tržištu. To smo postigli realizacijom ispravne poslovne politike koju sprovodi tim (60 stalno zaposlenih u agenciji i preko 80 kolega koji rade na terenu) u poslovnici koja je optimalno tehnički opremljena.
              
              Sopstveni vozni park (trenutno - petnaest modernih, turističkih autobusa, mini busevi i komforni automobili I klase za prevoz VIP gostiju), je izuzetna prednost koju znalački iskorišćavamo.
            </p>

          </div>
        </div>
      </div>
    </div>
    <p></p>
    <section class="adresa_div">

        <div class="adrese-container"> 

        <div class="adresa_content"> 
          <div class="slika_div">
            <img src="../../assets/images/address.jpg" alt="Adresa"> 
          </div>
          <div class="tekst_div">
                <p>Miće Orlovića 10</p>
                <p>Dedinje, Beograd 11 000</p>
          </div>
        </div>
        
        <div class="adresa_content"> 
            <div class="slika_div">
              <img src="../../assets/images/avion.jpg" alt="Adresa"> 
            </div>
            <div class="tekst_div">
                  <p>Prekookeanski letovi</p>
            </div>
          </div>

          <div class="adresa_content"> 
            <div class="slika_div">
              <img src="../../assets/images/hotel.jpg" alt="Adresa"> 
            </div>
            <div class="tekst_div">
                  <p>Hotelske karte</p>
            </div>
          </div>

          <div class="adresa_content"> 
            <div class="slika_div">
              <img src="../../assets/images/voz.jpg" alt="Adresa"> 
            </div>
            <div class="tekst_div">
                  <p>Prevoz vozom</p>
                  
            </div>
          </div>

          <div class="adresa_content"> 
            <div class="slika_div">
              <img src="../../assets/images/bus.jpg" alt="Adresa"> 
            </div>
            <div class="tekst_div">
                  <p>Prevoz autobusom</p>
                  
            </div>
          </div>

        </div>
      </section>
      
</section>

  